*.exe
*.obj
*.out
*.compile
*.native
*.byte
*.cmo
*.annot
*.cmi
*.cmx
*.cmt
*.cmti
*.cma
*.a
*.cmxa
*.obj
*~
*.annot
*.cmj
*.bak
lib/bs
*.mlast
*.mliast
.vscode
.merlin
.bsb.lock
node_modules
/.cache
/dist
/examples/*.bs.js
/examples/*.html
/lib
/ppx/lib
/ppx/ppx
/tests/*.bs.js
